name: Generate Databases

on:  # TODO: change this to only version tags
  push:
    branches: ["*"]

jobs:
  run-generate-database:
    strategy:
      fail-fast: false
      matrix:
        species: [Li, Na, K, Rb, Cs, Sr_singlet, Sr_triplet]
    name: ${{ matrix.species }}
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.6.14"
        enable-cache: true
        cache-dependency-glob: |
          ./generate_database.py.lock
    - name: Run generate_database.py
      run: uv run generate_database.py ${{ matrix.species }} --directory database --n-max 120
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: database-${{ matrix.species }}
        path: |
          database/*/*.parquet
          database/*/*.log
