name: Generate Databases

on:
  push:
    branches: ["main"]
    tags: ["v*.*"]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  run-generate-database:
    strategy:
      fail-fast: false
      matrix:
        species: [misc, H, Li, Na, K, Rb, Cs, Sr88_sqdt]
        include:
          - extra_args: "--warnings-as-exceptions"
          # use n_max=220 for tags and main, but only n_max=100 for PRs, etc.
          - n_max: ${{ (startsWith(github.ref, 'refs/tags/') || contains(github.ref, 'main')) && 220 || 100 }}
          - species: Sr88_sqdt
            extra_args: ""  # no warnings as exceptions, due to bad convergence
    name: ${{ matrix.species }}
    runs-on: ubuntu-latest
    timeout-minutes: 300
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'true'
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Run generate_database.py
      run: uv run generate_database ${{ matrix.species }} --directory database --n-max ${{ matrix.n_max }} ${{ matrix.extra_args }}
    - name: Upload artifacts
      uses: actions/upload-artifact@v6
      with:
        name: database-${{ matrix.species }}
        path: |
          database/*/*.parquet

  github-release:
    name: Release database files to github releases
    if: startsWith(github.ref, 'refs/tags/')  # only release to github on tag pushes
    needs: [run-generate-database]
    runs-on: ubuntu-latest
    timeout-minutes: 15

    permissions:
      contents: write

    steps:
    - name: Download all the database files
      uses: actions/download-artifact@v7
      with:
        path: database
        pattern: database-*
        merge-multiple: true

    - name: Zip database folders
      working-directory: database/
      run: |
        VERSION_TAG=${GITHUB_REF#refs/tags/}
        for dir in */; do
          if [[ "$dir" != *"$VERSION_TAG/" ]]; then
            echo "Error: Version mismatch between folder $dir and version tag $VERSION_TAG"
            exit 1
          fi
          zip -r "${dir%/}.zip" "$dir"
        done

    - name: Release zipped database folders
      uses: softprops/action-gh-release@v2
      with:
        files: database/*.zip
        draft: true
